@media (min-width: 768px) {
    .cepPage
    {
        background-image: url('../img/img-fundo.jpeg');
        background-repeat: no-repeat;
        bottom: 0;
        color: black;
        left: 0;
        overflow: auto;
        padding: 3em;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;


    }
}

@media (min-width: 992px) {
    .cepPage
    {
        background-image: url('../img/img-fundo.jpeg');
        background-repeat: no-repeat;
        bottom: 0;
        color: black;
        left: 0;
        overflow: auto;
        padding: 3em;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;


    }
}

@media (min-width: 1200px) {
    .cepPage
    {
        background-image: url('../img/img-fundo.jpeg');
        background-repeat: no-repeat;
        bottom: 0;
        color: black;
        left: 0;
        overflow: auto;
        padding: 3em;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;


    }
}
.configdiv
{
    background-color: rgba(246, 238, 238, 0.8);
    border: 1px solid #DDDDDD;
    padding: 10px;
}

.configinput
{
    background-color: rgb(218, 215, 215);
    border: 1px solid #DDDDDD;
    padding: 10px;
}
label {
    display: inline-block;
    width: 150px;
}